<!DOCTYPE html>

<html>

<head>
    <title>Build Strategy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <script
        src="https://code.jquery.com/jquery-3.1.1.js"
        crossorigin="anonymous">
    </script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/update_overlay.js"></script>
    <script>
        Object.keys(require.cache).forEach(function(key) { delete require.cache[key] });
    </script>
</head>

<body class="appBackground">
    {{>user_header}}
    <div class="main-content mediaHeaderWeb">

        {{#if message}}
            <div><p id="sotong">{{message}}</p></div>
        {{/if}}
        <div class="tableWrapper maxWidth displayProperty maxWidth950" id="tableWrapperBuildStrategy" style="margin-left: 6%">
            <form id="form1" name="form1" action="/build_strategy" role="form" method="post" class="width640 formMargin">
                <input type="hidden" name="csrf" value="{{token}}">
                <div class="width280 leftSide">
                    <p>Name:  
                        <label for="strategyName"></label>
                        <input type="text" class="strategyExplorerText" name="strategyName" id="strategyName" maxlength="30" value="{{strategyName}}"/>
                    </p>
                    <p>Description:
                        <label for="description"></label>
                        <textarea id="description" class="strategyExplorerText" name="description" rows="6" cols="30" maxlength="300" placeholder="Description of your strategy">{{description}}</textarea>
                    </p>
                    <p>Max Trade Duration:  
                        <label for="maxTradeDuration"></label>
                        <input type="number" min="1" max="100" class="strategyExplorerText" name="maxTradeDuration" id="maxTradeDuration" value="{{maxTradeDuration}}" placeholder="Maximum number of oracle rounds"/>
                    </p>
                    <p>Profit Target:  
                        <label for="profitTarget"></label>
                        <input type="number" min="1" max="100" class="strategyExplorerText" name="profitTarget" id="profitTarget" value="{{profitTarget}}" placeholder="% Profit Target"/>
                    </p>
                    <p>Stop Loss:  
                        <label for="stopLoss"></label>
                        <input type="number" min="1" max="100" class="strategyExplorerText" name="stopLoss" id="stopLoss" value="{{stopLoss}}" placeholder="% Stop Loss"/>
                    </p>
                    <div class="displayProperty">
                         <div>
                            <label for="direction">Direction:</label>
                            <div class="selectWrapper">
                                <select name="direction" class="selectBoxFilter" id="direction">
                                    <option value="long">long</option>
                                    <option value="short">short</option>
                                </select>
                            </div>
                        </div>
                        <div class="marginLeft40">
                            <label for="underlyingAsset">Underlying Asset:</label>
                            <div class="selectWrapper">
                                <select name="underlyingAsset" class="selectBoxFilter" id="underlyingAsset">
                                    <option value="ETH">ETH</option>
                                    <option value="BTC">BTC</option>
                                    <option value="LINNK">LINK</option>
                                    <option value="SNX">SNX</option>
                                    <option value="1INCH">1INCH</option>
                                    <option value="DOT">DOT</option>
                                    <option value="AAVE">AAVE</option>
                                    <option value="BCH">BCH</option>
                                    <option value="COMP">COMP</option>
                                    <option value="DASH">DASH</option>
                                    <option value="EOS">EOS</option>
                                    <option value="ETC">ETC</option>
                                    <option value="FIL">FIL</option>
                                    <option value="HT">HT</option>
                                    <option value="KNC">KNC</option>
                                    <option value="LTC">LTC</option>
                                    <option value="UNI">UNI</option>
                                    <option value="XRP">XRP</option>
                                    <option value="XTZ">XTZ</option>
                                    <option value="ADA">ADA</option>
                                    <option value="ADX">ADX</option>
                                    <option value="AMP">AMP</option>
                                    <option value="AMPL">AMPL</option>
                                    <option value="BAND">BAND</option>
                                    <option value="BNB">BNB</option>
                                    <option value="BNT">BNT</option>
                                    <option value="COVER">COVER</option>
                                    <option value="FNX">FNX</option>
                                    <option value="FXS">FXS</option>
                                    <option value="HEGIC">HEGIC</option>
                                    <option value="INJ">INJ</option>
                                    <option value="IOST">IOST</option>
                                    <option value="MATIC">MATIC</option>
                                    <option value="ONT">ONT</option>
                                    <option value="OXT">OXT</option>
                                    <option value="RAMP">RAMP</option>
                                    <option value="REN">REN</option>
                                    <option value="SXP">SXP</option>
                                    <option value="TOMO">TOMO</option>
                                    <option value="TRU">TRU</option>
                                    <option value="TRX">TRX</option>
                                    <option value="WAVES">WAVES</option>
                                    <option value="WING">WING</option>
                                    <option value="XHV">XHV</option>
                                    <option value="XMR">XMR</option>
                                    <option value="YFI">YFI</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <p>
                        <button type="submit" class="paymentModalYesButton buildStrategyButton" id="create" value="{{username}}">BUILD</button>
                    </p>
                </div>
                <div id="rightSide" class="rightSide width320">
                    <div class="entryConditionsDiv">
                        <div class="myStrategiesTopBar">
                            <a class="extraWeight" id="entryConditionsTitle">Entry Conditions</a>
                            <i class="tiny material-icons" id="addEntryConditionButton">add_circle_outline</i>
                        </div>
                        <table id="entryConditions" class="conditionsTable"></table>
                    </div>
                </div>
                <div id="rightSide" class="rightSide width320">
                    <div class="exitConditionsDiv">
                        <div class="myStrategiesTopBar">
                            <a class="extraWeight" id="exitConditionsTitle">Exit Conditions</a>
                            <i class="tiny material-icons" id="addExitConditionButton">add_circle_outline</i>
                        </div>
                        <table id="exitConditions" class="conditionsTable"></table>
                    </div>
                </div>
                <input type="hidden" name="list_of_entry_conditions" id="list_of_entry_conditions" value="{{listOfEntryConditions}}">
                <input type="hidden" name="list_of_exit_conditions" id="list_of_exit_conditions" value="{{listOfExitConditions}}">
            </form>
            
        </div>
    </div>

    <div class="strategyBuilderParentMobile mediaHeaderMobile">
        <div class="pageTitle">Build Strategy</div>
        {{#if message}}
            <div><p id="sotong">{{message}}</p></div>
        {{/if}}
        <div class="tableWrapper displayProperty">
            <form id="form1" name="form1" action="/build_strategy" role="form" method="post">
                <input type="hidden" name="csrf" value="{{token}}">
                 <p>Name:  
                    <label for="strategyName"></label>
                    <input type="text" class="strategyExplorerText" name="strategyName" id="strategyName" maxlength="30" value="{{strategyName}}"/>
                </p>
                <p>Description:
                    <label for="description"></label>
                    <textarea id="description" class="strategyExplorerText" name="description" rows="6" cols="30" maxlength="300" placeholder="Description of your strategy">{{description}}</textarea>
                </p>
                <p>Max Trade Duration:  
                    <label for="maxTradeDuration"></label>
                    <input type="number" min="1" max="100" class="strategyExplorerText" name="maxTradeDuration" id="maxTradeDuration" value="{{maxTradeDuration}}" placeholder="Maximum number of oracle rounds"/>
                </p>
                <p>Profit Target:  
                    <label for="profitTarget"></label>
                    <input type="number" min="1" max="100" class="strategyExplorerText" name="profitTarget" id="profitTarget" value="{{profitTarget}}" placeholder="% Profit Target"/>
                </p>
                <p>Stop Loss:  
                    <label for="stopLoss"></label>
                    <input type="number" min="1" max="100" class="strategyExplorerText" name="stopLoss" id="stopLoss" value="{{stopLoss}}" placeholder="% Stop Loss"/>
                </p>
                <div class="displayProperty"> 
                    <div>
                        <label for="direction">Direction:</label>
                        <div class="selectWrapper">
                            <select name="direction" class="selectBox" id="direction">
                                <option value="long">long</option>
                                <option value="short">short</option>
                            </select>
                        </div>
                    </div>
                    <div class="marginLeft40">
                        <label for="underlyingAsset">Underlying Asset:</label>
                        <div class="selectWrapper">
                            <select name="underlyingAsset" class="selectBoxFilter" id="underlyingAsset">
                                <option value="ETH">ETH</option>
                                <option value="BTC">BTC</option>
                                <option value="LINNK">LINK</option>
                                <option value="SNX">SNX</option>
                                <option value="1INCH">1INCH</option>
                                <option value="DOT">DOT</option>
                                <option value="AAVE">AAVE</option>
                                <option value="BCH">BCH</option>
                                <option value="COMP">COMP</option>
                                <option value="DASH">DASH</option>
                                <option value="EOS">EOS</option>
                                <option value="ETC">ETC</option>
                                <option value="FIL">FIL</option>
                                <option value="HT">HT</option>
                                <option value="KNC">KNC</option>
                                <option value="LTC">LTC</option>
                                <option value="UNI">UNI</option>
                                <option value="XRP">XRP</option>
                                <option value="XTZ">XTZ</option>
                                <option value="ADA">ADA</option>
                                <option value="ADX">ADX</option>
                                <option value="AMP">AMP</option>
                                <option value="AMPL">AMPL</option>
                                <option value="BAND">BAND</option>
                                <option value="BNB">BNB</option>
                                <option value="BNT">BNT</option>
                                <option value="COVER">COVER</option>
                                <option value="FNX">FNX</option>
                                <option value="FXS">FXS</option>
                                <option value="HEGIC">HEGIC</option>
                                <option value="INJ">INJ</option>
                                <option value="IOST">IOST</option>
                                <option value="MATIC">MATIC</option>
                                <option value="ONT">ONT</option>
                                <option value="OXT">OXT</option>
                                <option value="RAMP">RAMP</option>
                                <option value="REN">REN</option>
                                <option value="SXP">SXP</option>
                                <option value="TOMO">TOMO</option>
                                <option value="TRU">TRU</option>
                                <option value="TRX">TRX</option>
                                <option value="WAVES">WAVES</option>
                                <option value="WING">WING</option>
                                <option value="XHV">XHV</option>
                                <option value="XMR">XMR</option>
                                <option value="YFI">YFI</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="entryConditionsDiv">
                    <div class="myStrategiesTopBar">
                        <a class="extraWeight" id="entryConditionsTitle">Entry Conditions</a>
                        <i class="tiny material-icons" id="addEntryConditionButton">add_circle_outline</i>
                    </div>
                    <table id="entryConditions" class="conditionsTable"></table>
                </div>
                <div class="exitConditionsDiv">
                    <div class="myStrategiesTopBar">
                        <a class="extraWeight" id="exitConditionsTitle">Exit Conditions</a>
                        <i class="tiny material-icons" id="addExitConditionButton">add_circle_outline</i>
                    </div>
                    <table id="exitConditions" class="conditionsTable"></table>
                </div>
                <p>
                    <button type="submit" class="paymentModalYesButton buildStrategyButton" id="create" value="{{username}}">BUILD</button>
                </p>
                <input type="hidden" name="list_of_entry_conditions" id="list_of_entry_conditions" value="{{listOfEntryConditions}}">
                <input type="hidden" name="list_of_exit_conditions" id="list_of_exit_conditions" value="{{listOfExitConditions}}">
            </form>
        </div>
    </div>

    <div id="addEntryConditionModal" style="display:none">
        <p class="modalTitle">Add Entry Condition</p>
        <form>
            <p id="entryConditionModalErrorMessage"></p>
            <p class="paymentModalText" id="firstIndicatorDiv">First Indicator:  
                <label for="firstIndicatorEntry"></label>
                <select name="firstIndicatorEntry" id="firstIndicatorEntry">
                    <option value="LatestPrice" id="entry_FirstIndicator_LatestPrice">Latest Price</option>
                    <option value="EMA" id="entry_FirstIndicator_EMA">EMA</option>
                    <option value="NthPriceUpdate" id="entry_FirstIndicator_NthPriceUpdate">Nth Price Update</option>
                    <option value="PreviousNPriceUpdates" id="entry_FirstIndicator_PreviousNPriceUpdates">Previous N Price Updates</option>
                    <option value="SMA" id="entry_FirstIndicator_SMA">SMA</option>
                </select>
                <p></p>
            </p>
            <p class="paymentModalText">Comparator:  
                <label for="comparatorEntry"></label>
                <select name="comparatorEntry" id="comparatorEntry">
                    <option value="BouncesHigherOff" id="entry_Comparator_BouncesHigherOff">Bounces higher off</option>
                    <option value="BouncesLowerOff" id="entry_Comparator_BouncesLowerOff">Bounces lower off</option>
                    <option value="BreaksAbove" id="entry_Comparator_BreaksAbove">Breaks above</option>
                    <option value="BreaksBelow" id="entry_Comparator_BreaksBelow">Breaks below</option>
                    <option value="Closes" id="entry_Comparator_Closes">Closes</option>
                    <option value="ClosesAbove" id="entry_Comparator_ClosesAbove">Closes above</option>
                    <option value="ClosesBelow" id="entry_Comparator_ClosesBelow">Closes below</option>
                    <option value="FallsTo" id="entry_Comparator_FallsTo">Falls to</option>
                    <option value="RisesTo" id="entry_Comparator_RisesTo">Rises to</option>
                </select>
                <p></p>
            </p>
            <p class="paymentModalText">Second Indicator:  
                <label for="secondIndicatorEntry"></label>
                <select name="secondIndicatorEntry" id="secondIndicatorEntry">
                    <option value="EMA" id="entry_SecondIndicator_EMA">EMA</option>
                    <option value="Interval" id="entry_SecondIndicator_Interval">Interval</option>
                    <option value="SMA" id="entry_SecondIndicator_SMA">SMA</option>
                </select>
                <p></p>
                <input type="number" class="strategyExplorerText" name="entryConditionSecondIndicatorParameter" id="entryConditionSecondIndicatorParameter" min="0" max="390" step="1" value="" placeholder="EMA period"/><br>
            </p>
            <div id="entryButtons">
                <button type="button" id="addEntryConditionModalButton" class="buyButton">ADD</button>
                <button type="button" id="addEntryConditionCloseButton" class="cancelButton">CLOSE</button>
            </div>
            
        </form>
    </div>

    <div id="addExitConditionModal" style="display:none">
        <p class="modalTitle">Add Exit Condition</p>
        <form>
            <p id="exitConditionModalErrorMessage"></p>
            <p class="paymentModalText" id="firstIndicatorDiv2">First Indicator:  
                <label for="firstIndicatorExit"></label>
                <select name="firstIndicatorExit" id="firstIndicatorExit">
                    <option value="LatestPrice" id="exit_FirstIndicator_LatestPrice">Latest Price</option>
                    <option value="EMA" id="exit_FirstIndicator_EMA">EMA</option>
                    <option value="NthPriceUpdate" id="exit_FirstIndicator_NthPriceUpdate">Nth Price Update</option>
                    <option value="PreviousNPriceUpdates" id="exit_FirstIndicator_PreviousNPriceUpdates">Previous N Price Updates</option>
                    <option value="SMA" id="exit_FirstIndicator_SMA">SMA</option>
                </select>
                <p></p>
            </p>
            <p class="paymentModalText">Comparator:  
                <label for="comparatorExit"></label>
                <select name="comparatorExit" id="comparatorExit">
                    <option value="BouncesHigherOff" id="exit_Comparator_BouncesHigherOff">Bounces higher off</option>
                    <option value="BouncesLowerOff" id="exit_Comparator_BouncesLowerOff">Bounces lower off</option>
                    <option value="BreaksAbove" id="exit_Comparator_BreaksAbove">Breaks above</option>
                    <option value="BreaksBelow" id="exit_Comparator_BreaksBelow">Breaks below</option>
                    <option value="Closes" id="exit_Comparator_Closes">Closes</option>
                    <option value="ClosesAbove" id="exit_Comparator_ClosesAbove">Closes above</option>
                    <option value="ClosesBelow" id="exit_Comparator_ClosesBelow">Closes below</option>
                    <option value="FallsTo" id="exit_Comparator_FallsTo">Falls to</option>
                    <option value="RisesTo" id="entry_Comparator_RisesTo">Rises to</option>
                </select>
                <p></p>
            </p>
            <p class="paymentModalText">Second Indicator:  
                <label for="secondIndicatorExit"></label>
                <select name="secondIndicatorExit" id="secondIndicatorExit">
                    <option value="EMA" id="exit_SecondIndicator_EMA">EMA</option>
                    <option value="Interval" id="exit_SecondIndicator_Interval">Interval</option>
                    <option value="SMA" id="exit_SecondIndicator_SMA">SMA</option>
                </select>
                <p></p>
                <input type="number" class="strategyExplorerText" name="exitConditionSecondIndicatorParameter" id="exitConditionSecondIndicatorParameter" min="0" max="390" step="1" value="" placeholder="EMA period"/><br>
            </p>
            <div id="exitButtons">
                <button type="button" id="addExitConditionModalButton" class="buyButton">ADD</button>
                <button type="button" id="addExitConditionCloseButton" class="cancelButton">CLOSE</button>
            </div>
            
        </form>
    </div>

    <div id="successModal" style="display:none">
        <div class="messageModal" id="successTitle">
            <i class="material-icons marginRight15px messageModalIcon" id="successButton">check_circle_outline</i>
            <div class="messageModalText">Developed strategy</div>
        </div>
    </div>

    <div id="errorModal" style="display:none">
        <div class="messageModal" id="errorTitle">
            <i class="material-icons marginRight15px messageModalIcon" id="errorButton">error_outline</i>
            <div class="messageModalText" id="errorText">An unexpected error occurred</div>
        </div>
    </div>

    <input type="hidden" id="status" value="{{status}}">

    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    <script src="/js/connect_wallet_app.js"></script>
    <script src="/js/build_strategy_app.js"></script>
</body>

<div id="pageMask" class="initiallyHidden"></div>

</html>