<!DOCTYPE html>

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73ZF84');</script>
    <!-- End Google Tag Manager -->
    <title>Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <script
        src="https://code.jquery.com/jquery-3.1.1.js"
        crossorigin="anonymous">
    </script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous">
    </script>
    <script src="/js/update_overlay.js"></script>
    <script>
        Object.keys(require.cache).forEach(function(key) { delete require.cache[key] });
    </script>
</head>

<body class="appBackground">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73ZF84"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>user_header}}
    <div class="main-content">
        <div class="pageTitle">Checkout</div>

        <div class="mediaWidth100">
          <div class="yourPurchase">
              <p class="buyPageSubtitle">
                  Your Purchase
              </p>
              <p><a class="extraWeight">Strategy: </a> <span id="strategyNameLink">{{strategyName}}</span></p>
              <p><a class="extraWeight">Developer: </a> <span id="developerLink">{{developer}}</span></p>
              <p><a class="extraWeight">Developed On: </a> {{developedOn}}</p>
              <p><a class="extraWeight">Description: </a> {{description}}</p>
              <p><a class="extraWeight">Alpha: </a> {{alpha}}</p>
              <p><a class="extraWeight">Total Return: </a> <span style="color:{{color}}">{{totalReturn}}%</span></p>
              <p></p>
          </div>
        </div>

        <div class="mediaWidth100">
          <div class="payment" id="payment">
              <p class="buyPageSubtitle largeMarginBottom">
                  Payment
              </p>
              <div class="largeMarginBottom">
                <p id="salePrice" class="fontSize20"><a class="extraWeight">Price: </a> {{salePrice}} TGEN</p>
                <p class="fontSize20"><a class="extraWeight">Brokerage Firm: </a>TD Ameritrade</p>
              </div>
              <button type="button" id="payWithBalance" class="payWithBalanceButton">PURCHASE</button>
              <p></p>
          </div>
        </div>

        <input type="hidden" id="sotong" value="{{strategyID}}"/>
        <input type="hidden" id="sianjitpua" value="{{salePrice}}"/>
        <input type="hidden" id="tualiapnee" value="{{token}}">
        <input type="hidden" id="address" value="{{address}}">
    </div>

    <div id="payWithAccountBalanceModal" style="display:none">
        <div class="paymentModalTitle">Buy Now</div>
        <div id="cost" class="paymentModalPrice">{{salePrice}} TGEN</div>
        <p class="paymentModalText">Are you sure you want to submit your payment?</p>
        <button type="button" id="confirmPayment" class="paymentModalYesButton">YES</button>
        <button type="button" id="cancelPayment" class="paymentModalCancelButton">CANCEL</button>
    </div>

    <div id="successModal" style="display:none">
        <div class="messageModal" id="successTitle">
            <i class="material-icons marginRight15px messageModalIcon" id="successButton">check_circle_outline</i>
            <div class="messageModalText">Payment complete</div>
        </div>
    </div>

    <div id="errorModal" style="display:none">
        <div class="messageModal" id="errorTitle">
            <i class="material-icons marginRight15px messageModalIcon" id="errorButton">error_outline</i>
            <div class="messageModalText" id="errorText">Error</div>
        </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    <script src="/js/connect_wallet_app.js"></script>
    <script src="/js/checkout_app.js"></script>
</body>

<div id="pageMask" class="initiallyHidden"></div>

</html>