<!DOCTYPE html>

<html>

<head>
    <title>Manage Pool Investment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <script
        src="https://code.jquery.com/jquery-3.1.1.js"
        crossorigin="anonymous">
    </script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/update_overlay.js"></script>
    <script>
        Object.keys(require.cache).forEach(function(key) { delete require.cache[key] });
    </script>
</head>

<body class="appBackground">
    {{>user_header}}
    <div class="main-content">
        <div class="mediaWidth100">
            <div class="yourPurchase">
                <p class="buyPageSubtitle">
                    Pool Info
                </p>
                <div class="buffer"></div>
                <div style="margin-bottom: 12px"><a class="extraWeight">Pool: </a><a href="/pool_info/{{poolID}}" style="text-decoration: none; color: #333333;">{{poolName}}</a></div>
                <div><a class="extraWeight">Managed By: </a><a href="/profile/{{managerAddress}}" style="text-decoration: none; color: #333333">{{managerUsername}}</a></div>
                <p id="poolValue"><a class="extraWeight">Pool Value:</a> ${{poolValue}}</p>
                <p id="tokenPrice"><a class="extraWeight">Token Price:</a> ${{tokenPrice}}</p>
                <p id="performanceFee"><a class="extraWeight">Performance Fee:</a> {{performanceFee}}%</p>
                <p id="amountInvested"><a class="extraWeight">Amount Invested:</a> ${{amountInvested}}</p>
                <p id="currentROI"><a class="extraWeight">Current ROI:</a> {{currentROI}}%</p>
                <p></p>
            </div>
        </div>

        <div class="mediaWidth100">
            <div class="payment" id="payment">
                <p class="buyPageSubtitle">
                    Manage Pool
                </p><br>
                <div class="displayProperty">
                    <span style="margin-top: 10px"><a class="extraWeight">Deposit: </a></span>
                    <input type="number" value="0" class="settingsInput" name="deposit" id="deposit" style="margin-left: 30px"/>
                    <span id="depositButton" style="margin-left: 30px; margin-top: 10px; color: #5271FF">Deposit</span>
                </div>
                <div class="displayProperty" style="margin-top: 30px">
                    <span style="margin-top: 10px"><a class="extraWeight">Withdraw: </a></span>
                    <input type="number" value="0" class="settingsInput" name="withdraw" id="withdraw" style="margin-left: 30px"/>
                    <span id="withdrawButton" style="margin-left: 30px; margin-top: 10px; color: #5271FF">Withdraw</span>
                </div>
                <div class="displayProperty marginTop50">
                    <span style="margin-top: 10px"><a class="extraWeight">Fee: </a> <a id="fee">$0.0000</a></span>
                </div>
                <p></p>
            </div>
        </div>
        
        <input type="hidden" id="atas" value="{{token}}">
        <input type="hidden" id="sotong" value="{{poolID}}"/>
        <input type="hidden" id="lanjiao" value="{{userID}}"/>
        <input type="hidden" id="sianjitpua" value="{{currentROI}}"/>
        <input type="hidden" id="liapnee" value="{{performanceFee}}"/>
    </div>

    <div id="depositModal" style="display:none">
        <div class="paymentModalTitle">Deposit</div>
        <div id="amountDeposit" class="paymentModalPrice">$0.00</div>
        <p class="paymentModalText">Are you sure you want to deposit funds?</p>
        <button type="button" id="confirmDeposit" class="paymentModalYesButton">Yes</button>
        <button type="button" id="cancelDeposit" class="paymentModalCancelButton">Cancel</button>
    </div>

    <div id="successModalDeposit" style="display:none">
        <div class="messageModal" id="successTitleDeposit">
            <i class="material-icons marginRight15px messageModalIcon" id="successButtonDeposit">check_circle_outline</i>
            <div class="messageModalText">Successfully deposited funds</div>
        </div>
    </div>

    <div id="errorModalDeposit" style="display:none">
        <div class="messageModal" id="errorTitleDeposit">
            <i class="material-icons marginRight15px messageModalIcon" id="errorButtonDeposit">error_outline</i>
            <div class="messageModalText" id="errorTextDeposit">Error</div>
        </div>
    </div>

    <div id="withdrawModal" style="display:none">
        <div class="paymentModalTitle">Withdraw</div>
        <div id="amountWithdraw" class="paymentModalPrice">$0.00</div>
        <p class="paymentModalText">Are you sure you want to withdraw funds?</p>
        <button type="button" id="confirmWithdraw" class="paymentModalYesButton">Yes</button>
        <button type="button" id="cancelWithdraw" class="paymentModalCancelButton">Cancel</button>
    </div>

    <div id="successModalWithdraw" style="display:none">
        <div class="messageModal" id="successTitleWithdraw">
            <i class="material-icons marginRight15px messageModalIcon" id="successButtonWithdraw">check_circle_outline</i>
            <div class="messageModalText">Successfully withdrew funds</div>
        </div>
    </div>

    <div id="errorModalWithdraw" style="display:none">
        <div class="messageModal" id="errorTitleWithdraw">
            <i class="material-icons marginRight15px messageModalIcon" id="errorButtonWithdraw">error_outline</i>
            <div class="messageModalText" id="errorTextWithdraw">Error</div>
        </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    <script src="/js/connect_wallet_app.js"></script>
    <script src="/js/manage_pool_investment_app.js"></script>
</body>

<div id="pageMask" class="initiallyHidden"></div>

</html>