<!DOCTYPE html>

<html>

<head>
    <title>Token Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/update_overlay.js"></script>
    <script>
        Object.keys(require.cache).forEach(function(key) { delete require.cache[key] });
    </script>
</head>

<body class="appBackground">
    {{#if loginStatus}}
    {{>user_header}}
    {{else}}
    {{>guest_header}}
    {{/if}}
    <div class="main-content" id="main">
        <div class="maxWidth80 displayProperty mediaHeaderWeb">
            <div class="pageTitle"><a href="/strategy_info/{{strategyID}}" style="text-decoration: none; color: #333333" >{{strategyName}}</a></div>
            <button type="button" class="symbolButton noHover">{{symbol}}</button>
            <div style="margin-left:60px; font-size: 18px">
                <span style="font-weight: 550">Current Pool Size</span><br>
                <span>${{currentPoolSize}}</span>
            </div>
            <span class="priceWrapper" style="background-color: {{backgroundColor}}">{{poolChange}}</span>
            <div style="margin-left:60px; font-size: 18px">
                <span style="font-weight: 550">Max Pool Size</span><br>
                <span>${{maxPoolSize}}</span>
            </div>
            <span class="buyTokensWrapper initiallyHidden" id="buyTokensSpan"><a href="/manage_position/{{strategyID}}" style="text-decoration: none; color: white">Trade</a></span>
        </div>
        <div class="maxWidth80 mediaHeaderMobile">
            <div class="displayProperty">
                <div class="pageTitle"><a href="/strategy_info/{{strategyID}}" style="text-decoration: none; color: #333333">{{strategyName}}</a></div>
                <button type="button" class="symbolButton noHover">{{symbol}}</button>
            </div>
            <div style="text-align: center">
                <div style="font-weight: 550; font-size: 20px; margin-bottom: 10px">Current Pool Size</div>
                <div style="margin-bottom: 20px; font-size: 18px">${{currentPoolSize}}</div>
                <span class="priceWrapper" style="background-color: {{backgroundColor1}}; margin-bottom: 20px">{{poolChange}}</span>
                <div style="font-weight: 550; font-size: 20px; margin-bottom: 10px">Max Pool Size</div>
                <div style="margin-bottom: 20px; font-size: 18px">${{maxPoolSize}}</div>
                <span class="buyTokensWrapper"><a href="/manage_position/{{strategyID}}" style="text-decoration: none; color: white">Trade</a></span>
            </div>
        </div>
        
        <div class="maxWidth80" id="tokenInfoDesktop">
            <div class="tradingBotStoreProductBottomRow tokenInfoExtra">
                <div class="tradingBotStoreProductFrequency block width19">
                    <a class="tradingBotStoreProductTopText">Launched on</a>
                    <div class="buffer"></div>
                    <a class="tradingBotStoreProductBottomText">{{deployedOn}}</a>
                </div>
                <div class="tradingBotStoreProductFrequency block width19">
                    <a class="tradingBotStoreProductTopText">LP Token Price</a>
                    <div class="buffer"></div>
                    <a class="tradingBotStoreProductBottomText">{{tokenPrice}}</a>
                </div>
                <div class="tradingBotStoreProductFrequency block width19">
                    <a class="tradingBotStoreProductTopText">Circulating supply</a>
                    <div class="buffer"></div>
                    <a class="tradingBotStoreProductBottomText">{{circulatingSupply}} {{symbol}}</a>
                </div>
                <div class="tradingBotStoreProductFrequency block width19 mediaMarginBottom20">
                    <a class="tradingBotStoreProductTopText">Volume</a>
                    <div class="buffer"></div>
                    <a class="tradingBotStoreProductBottomText">{{volume}} {{symbol}}</a>
                </div>
                <div class="tradingBotStoreProductFrequency block width19 mediaMarginBottom20">
                    <a class="tradingBotStoreProductTopText">Yield Generated</a>
                    <div class="buffer"></div>
                    <a class="tradingBotStoreProductBottomText">{{yieldGenerated}} TGEN</a>
                </div>
            </div>
        </div>
        <div class="maxWidth80 initiallyHidden" id="tokenInfoMobile">
            <div class="strategyInfoTop">
                <div class="strategyInfoLeftSide"><a class="extraWeight">Launched On: </a> {{deployedOn}}</div>
                <div class="strategyInfoRightSide" id="marketPrice"><a class="extraWeight">LP Token Price: </a> <a>{{tokenPrice}}</a></div><br>
            </div>
            <div class="strategyInfoBottom">
                <div class="strategyInfoLeftSide"><a class="extraWeight">Circulating Supply: </a> {{circulatingSupply}} TGEN</div>
                <div class="strategyInfoRightSide" id="sharesBought"><a class="extraWeight">Volume: </a> {{volume}} TGEN</div>
            </div>
        </div>

        <div class="backtestGraphParent" id="backtestParent2" style="display:none">
            <div class="chartTitle" id="title2">Pool History</div>
            <div class="temp" id="temp2">
                <div id="chart2" class="strategyExplorerChart"></div>
            </div>
        </div>
    </div>

    <div class="hiddenGraph">
        <div class="mediaChartTitle">Pool History</div>
        <div class="chartWrapper">
            <div id="chart3" class="strategyExplorerChart initiallyHidden"></div>
        </div>
    </div>

    <input type="hidden" id="status" value="{{loginStatus}}">
    <input type="hidden" id="strategyStatus" value="{{status}}">
    <input type="hidden" name="sotong2" id="sotong2" value="{{dataString2}}">
    
    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    <script src="/js/connect_wallet_app.js"></script>
    <script src="/js/token_info_app.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(function(){ 
          initialize(google);
        });
    </script>
</body>

</html>